<div class="eb-foot " data-block="tj-foot" monitor-desc="foot" monitor-shortpv="">
    <div class="eb-foot-wrap g-clear">
        <div class="eb-foot-left">
            <p>
                <img src="./index_files/t01cce0452825687104.png" /></p>
            <p>Copyright &copy; 360安全网址. All Rights Reserved.</p>
            <p>
                <a href="http://www.miibeian.gov.cn/">浙ICP证B2-20090064号</a>&nbsp;&nbsp;
                <span>信息网络传播视听节目许可证1109357号</span>&nbsp;&nbsp;
                <span>浙网文[2016]0179-079号</span></p>
            <p>
                <a class="ga" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33030202000714">浙公网安备 33030202000714号</a></p>
        </div>
        <div class="eb-foot-right g-clear">
            <dl>
                <dt>关于</dt>
                <dd>
                    <a href="https://www.360kan.com/more/aboutus" target="_blank">关于我们</a></dd>
                <dd>
                    <a href="https://www.360kan.com/more/copyright" target="_blank">版权声明</a></dd>
                <dd>
                    <a href="https://www.360kan.com/more/protocol" target="_blank">用户协议</a></dd>
            </dl>
            <dl>
                <dt>服务</dt>
                <dd>
                    <a class="js-addfavorite" href="https://www.360kan.com/###">加入收藏</a></dd>
                <dd>
                    <a href="https://www.360kan.com/more/feedback" target="_blank">意见反馈</a></dd>
                <dd>
                    <a href="http://weibo.com/360yingshi" target="_blank">官方微博</a></dd>
                <dd>
                    <a href="https://www.360kan.com/more/cooperation">联系方式</a></dd>
            </dl>
            <dl>
                <dt>扫码下载APP</dt>
                <dd>
                    <img src="./index_files/t0138a5be69a4b76db3.png" /></dd>
            </dl>
        </div>
    </div>
</div>