<div class="eb-head" data-block="tj-head" monitor-desc="head" monitor-shortpv="">
    <div class="eb-head-top eb-head-width g-clear">
        <a href="#" class="eb-head-logo" target="_self">
            <img alt="大树根动漫网" src="__PUBLIC__/images/LOGO.png" /></a>
        <!-- <div class="eb-head-ad-wrap">
            <a href="#" class="eb-head-ad" style="background-image:url()"></a>
        </div> -->
        <div class="eb-head-s">
            <form class="js-eb-search eb-search eb-search-xklong" autocomplete="off" target="_blank" method="GET" action="{:url('search/search')}" id="search-form">
                <div class="js-eb-suggest eb-suggest  eb-suggest-xklong g-clear" id="js-eb-suggest">
                    <input type="text" placeholder="请输入关键词" class="eb-suggest-query js-query" autocomplete="off" value="" id="keywords" name="keywords"/>
                    <div class="eb-suggest-wrap js-wrap" style="display:none">
                        <iframe frameborder="0"></iframe>
                        <ul class="js-list eb-suggest-ul"></ul>
                    </div>
                </div>
                <div class="eb-search-btn-wrap">
                    <input type="submit" value="" class="eb-search-btn" id="js-eb-search-btn" />
                    <label for="js-eb-search-btn">搜索</label></div>
            </form>
        </div>
    </div>
    <div class="eb-head-bottom">
        <div class="wrap eb-head-width g-clear">
            <ul id="js-ebhead-more" class="eb-head-nav g-clear">
                <li class="eb-head-nav-wrap js-ebsubhead-menu">
                    <a href="{:url('index/index')}" class="nav-item current" target="_self">首页</a></li>
                {volist name="menu" id="vo"}
                <li class="eb-head-nav-wrap js-ebsubhead-menu">
                    <a href="{:url('videolst/videolst',array('cateid'=>$vo.id))}" 
                        {if condition="$cateid eq $vo.id"}
                        class="nav-item current" 
                        {else /}
                        class="nav-item" 
                        {/if}
                        target="_self">{$vo.catename}</a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7153425338723684",
    enable_page_level_ads: true
  });
</script>